<div id="<%= dom_id path %>">
  <p>
    <strong>Id element:</strong>
    <%= path.id_element %>
  </p>

  <p>
    <strong>Class element:</strong>
    <%= path.class_element %>
  </p>

  <p>
    <strong>D element:</strong>
    <%= path.d_element %>
  </p>

  <p>
    <strong>Sprite:</strong>
    <%= path.sprite_id %>
  </p>

</div>
