<p style="color: green"><%= notice %></p>

<%= render @path %>

<div class="btn-toolbar">
<div class="btn-group me-2">
  <td><%= link_to 'Edit Path', edit_sprite_path_path(@sprite), class: "btn btn-secondary" %></td>
  <%= link_to "Paths", sprite_paths_path(@sprite), class: "btn btn-dark" %>
  </div>
  <%= link_to "Back", sprite_path(@sprite), class: "btn btn-secondary" %>
</div>
