<div id="<%= dom_id sheet %>">
  <p>
    <strong>Sheet name:</strong>
    <%= sheet.name %>
  </p>

  <p>
    <strong>Frames:</strong>
    <%= sheet.frames %>
  </p>

  <p>
    <strong>Rows:</strong>
    <%= sheet.rows %>
  </p>

  <p>
    <strong>Columns:</strong>
    <%= sheet.columns %>
  </p>

  <p>
    <strong>Reel Width:</strong>
    <%= sheet.reel_width %>
  </p>

  <p>
    <strong>Reel Height:</strong>
    <%= sheet.reel_height %>
  </p>

  <p>
    <strong>Sheet Size:</strong>
    <%= sheet.sheet_size %>
  </p>

</div>

