<div id="<%= dom_id sprite %>">
  <p>
    <strong>Name:</strong>
    <%= sprite.name %>
  </p>

  <p>
    <strong>Frame:</strong>
    <%= sprite.frame %>
  </p>

  <p>
    <strong>Row:</strong>
    <%= sprite.row %>
  </p>

  <p>
    <strong>Column:</strong>
    <%= sprite.column %>
  </p>

  <p>
    <strong>Width:</strong>
    <%= sprite.width %>
  </p>

  <p>
    <strong>Height:</strong>
    <%= sprite.height %>
  </p>

  <p>
    <strong>Viewbox:</strong>
    <%= sprite.viewbox %>
  </p>


</div>

