<div id="<%= dom_id style %>">
  <p>
    <strong>Fill:</strong>
    <%= style.fill %>
  </p>

  <p>
    <strong>Fill opacity:</strong>
    <%= style.fill_opacity %>
  </p>

  <p>
    <strong>Stroke:</strong>
    <%= style.stroke %>
  </p>

  <p>
    <strong>Stroke fill:</strong>
    <%= style.stroke_fill %>
  </p>

  <p>
    <strong>Stroke width:</strong>
    <%= style.stroke_width %>
  </p>

  <p>
    <strong>Opacity:</strong>
    <%= style.opacity %>
  </p>

</div>
