<p style="color: green"><%= notice %></p>

<%= render @style %>

<div class="btn-group me-2">
  <%= link_to "Edit this style", edit_style_path(@style), class: "btn btn-secondary" %>
  <%= link_to "Back to styles", styles_path, class: "btn btn-dark" %>
</div>
<br/>
<br/>


<div class="btn-group me-3">
  <%= button_to "Destroy this style", @style, method: :delete, class: "btn btn-danger" %>
</div>
